body{
    background-color: black;
}
h1{
    color: blanchedalmond;
    font-family: "press Start 2P",'consolas', sans-serif;
}
p{
    color: #00ff73;
    font-family: 'consolas', sans-serif;
}

